.logo
{
    width: 79px;
    height: 24px;
}
.header
{
    &__btn
    {
        display: none;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #fff;
        padding: 11px 12px;
        background: #021747;
        margin: 0 20px;
    }
    &__btn:hover
    {
        box-shadow: 1px 1px 5px 1px darkblue;
    }
    &__nav
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu__text
{
    display: none;
}
@media screen and (min-width: 321px)
{
    .header__burger
    {
        display: flex;
        align-items: center;
    }
    .header__btn
    {
        display: flex;
    }
}
@media screen and (min-width: 1024px)
{
    .header__line
    {
        display: none;
    }
    .menu__text
    {
        display: flex;
        transform: rotate(90deg);
        margin-top: 40px;
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #D9DDE7;
    }
    .burger
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        height: 768px;
        width: 80px;
        border-left: 1px solid #6F7E9E;
    }
    .burger__img
    {
        margin-top: 300px;
    }
    .header__btn
    {
        margin-right: 80px;
    }
}
@media screen and (min-width: 1440px)
{
    .burger
    {
        height: 1024px;

        &__img
        {
            margin-top: 400px;
        }
    }
}