.promo__tag
{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-right: 10px;
    color: #021747;
    opacity: 0.5;

    &--active
    {
        font-weight: 600;
        opacity: 1;
    }

    &:hover
    {
        background: lightblue;
    }
}
.promo__main-text
{
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #021747;
    margin: 26px 0 16px;

    &--hidden
    {
        display: none;
    }
    &--hidden2
    {
        display: none;
    }
}
.promo__text
{
    margin-bottom: 16px;

    &--hidden
    {
        display: none;
    }

    &-big--hidden
    {
        display: none;
    }
    &--hidden2
    {
        display: none;
    }
    &-big--hidden2
    {
        display: none;
    }
    &--unmargin
    {
        box-sizing: border-box;
        width: 70%;
        margin: 0;
    }
}
@media screen and (min-width: 768px)
{
    .promo__text--hidden
    {
        display: inline-block;
    }
}
@media screen and (min-width: 1440px)
{
    .promo__main-text--unhidden
    {
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.2em;
    }
    .promo__text--hidden
    {
        display: none;
    }
    .promo__text--hidden2
    {
        display: block;
    }
}
@media screen and (min-width: 1920px)
{
    .promo__main-text
    {
        &--unhidden
        {
            display: none;
        }
        &--hidden
        {
            display: block;
        }
        &--hidden2
        {
            display: block;
        }
        &--unhidden2
        {
            display: none;
        }
    }
    .promo__text-big--hidden
    {
        display: block;
    }
    .promo__text-big--hidden2
    {
        display: block;
    }
    .promo__text
    {
        &--unhidden
        {
            display: none;
        }
        &--hidden2
        {
            display: none;
        }
        &--unhidden2
        {
            display: none;
        }
    }
}
@media screen and (min-width: 1440px)
{
    .promo__main-text
    {
        margin: 60px 0 50px;
        
        &--margin
        {
            margin: 100px 0 15px;
        }
    }
    .promo__text
{
    margin-bottom: 50px;
}
}
.grid
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}
@media screen and (min-width: 768px)
{
    .grid
    {
        grid-template-columns: 1fr 1fr;
    }
}
.grid__item
{
    position: relative;
    background: black;
    
    &--absolute
    {
        position: absolute;
        left: 10%;
        top: 30%;
    }
    &--small
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        left: 1%;
        top: 0;
        bottom: 0;
    }
    &-caption
    {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #fff;
        margin: 0;

        &--small
        {
            font-style: normal;
            font-weight: 800;
            font-size: 26px;
            line-height: 32px;
            color: #fff;
            margin: 0 0 12px;
        }
    }
    &-text
    {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        margin: 0;
        margin-top: 5px;

        &--small
        {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            border: 1px solid #fff;
            padding: 12px;

            &::after
            {
                content: "";
                display: inline-block;
                background: url(../design/arrow-right.svg) no-repeat center;
                width: 24px;
                height: 24px;
                margin-left: 10px;
            }

            &:hover
            {
                background: #fff;
                color: #021747;

                &::after
                {
                    background: url(../design/arrow-right-blue.svg) no-repeat center;
                }
            }
        }
    }
    &-img
    {
        display: block;
        opacity: 0.5;
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 1440px)
{
    .grid__item
    {
        &-caption
        {
            font-size: 38px;
            line-height: 46px;
        }
        &-text
        {
            font-size: 26px;
            line-height: 32px;
        }
        &--small
        {
            left: 10%;
        }
    }
}

.form
{
    width: 100%;
    background: #021747;
    padding: 30px 16px;
    box-sizing: border-box;

    &__caption
    {
        font-style: normal;
        font-weight: 900;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #fff;
    }
    &__styles
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    &__input
    {
        flex-basis: 100%;
        padding: 12px;
        margin: 8px 0;
        margin-right: 10px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px)
{
    .form
    {
        padding: 65px 24px;
        
        &__styles
        {
            flex-direction: row;
            justify-content: space-between;
        }
        &__input
        {
            flex-basis: 48%;
        
            &--wide
            {
                flex-basis: 100%;
            }
        }
    }
}
@media screen and (min-width: 1024px)
{
    .form
    {
        padding: 65px 51px;
    }
}
@media screen and (min-width: 1440px)
{
    .form
    {
        padding: 65px 80px;
    }
}
.form__radiobtns
{
    display: flex;
    flex-direction: column;
}
.form__checkbox
{
    display: none;
}
.form__label
{
    user-select: none;
    cursor: pointer;
}
input:active, :hover, :focus
{
    outline: none;
}
.form__checkbox-text::before
{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    vertical-align: top;
    color: transparent;
    margin-right: 26px;
    border: 3px solid white;
}
.form__checkbox:checked + .form__checkbox-text::before
{
    content: "";
    background: url(../design/circle.svg) no-repeat center;
    display: inline-block;
}
.form__btn
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.form__submit
{
    min-width: 250px;
    display: flex;
    align-items: center;
    padding: 12px;
    background: #021747;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #fff;
    margin: 10px 0;
    user-select: none;
    cursor: pointer;

    &:hover
    {
        background: #fff;
        color: #021747;
    }
    &::after
    {
        display: inline-block;
        content: "";
        background: url(../design/arrow-right.svg) no-repeat center;
        width: 24px;
        height: 24px;
        margin-left: auto;
    }
    &:hover::after
    {
        background: url(../design/arrow-right-blue.svg) no-repeat center;
    }
}
@media screen and (min-width: 768px)
{
    .form__submit
    {
        min-width: 380px;
    }
}
.promo__stars-flex
{
    display: flex;
    flex-direction: column;

    &--column
    {
        flex-direction: column;
    }
}
.stars
{
    margin-bottom: 20px;
}
.stars:hover
{
    box-shadow: 1px 1px 2px 5px lightblue;
}
@media screen and (min-width: 768px)
{
    .promo__stars-flex
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    
        &--column
        {
            flex-direction: column;
        }
    }
}
